body{
    background: no-repeat url("assets/home.png");
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#ancients{
    width: 550px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}
.ancientsCard{
    width: 236px;
    /* height: auto; */
    margin: 0 auto;
}
.ancientsCard > img{
    width: 100%;
    height: 100%;
}
.ancientsCard:hover{
    -webkit-box-shadow: 0px 0px 10px 5px rgba(19, 16, 238, 0.3);
    -moz-box-shadow: 0px 0px 10px 5px rgba(19, 16, 238, 0.3);
    box-shadow: 0px 0px 10px 5px rgba(19, 16, 238, 0.3);
    cursor: pointer;
}
.ancientsCardActive{
    -webkit-box-shadow: 0px 0px 10px 10px rgba(238, 16, 84, 0.3);
    -moz-box-shadow: 0px 0px 10px 10px rgba(238, 16, 84, 0.3);
    box-shadow: 0px 0px 10px 10px rgba(238, 16, 84, 0.3);
}
#currentCard{
    width: 500px;
}
#options{
    color: white;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}
.difficulty, .start{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}
.difficulty{
    border: 1px solid whitesmoke;
}
.difficultyActive{
    background: greenyellow;
}
.difficulty:hover{
    background: rgb(189, 189, 97);
}
.start{
    border: 2px solid red;
}
.start:hover{
    background: rgb(199, 92, 92);
}
.stage{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.green, .brown, .blue{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.green{
    background: green;
}
.brown{
    background: brown;
}
.blue{
    background: blue;
}